@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: #fff;
    --main-color: #ea580c;

    /* Extra colour */
    --parchment: #FDF6E3;
    --old-paper: #F5EDD6;
    --worn-beige: #EEE3C5;
    --dry-sand: #D9C9A3;
 /* Extra text color */
    --ink-deep: #2C1A0E;
    --ink-sepia: #4A3523;
    --ink-faded: #7A6340;
    --ink-aged: #9A7E55;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1.5rem 15%;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
    z-index: 999;

}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: NONE;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.logo:hover {
    color: #FDF6E3;
    transform: scale(1.06);
}

span{
    background: linear-gradient(270deg,
    #C8860A 10%,
    #E85D04 55%, #DC2F02 100%);
    background-clip: text;
    color:transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left:4rem;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration: none;

}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}
.contact-btn{
    font-size: 1.8rem;
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    color: var(--ink-deep);
    border:none;
    text-wrap: nowrap;
}
.contact-btn:hover{
    transform: scale(1.05);
}
section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h1 span{
    font-size: 8rem;;

}
.home-content h3{
    font-size: 4rem;
    margin:1rem 0;
    align-self: center;
}
.home-content p{
    font-size: 1.5rem;
    color: var(--dry-sand);
    line-height: 1.8;
}
.home-image img{
    width: 25vw;
    border-radius: 50%;
    box-shadow:0 0 25px var(--main-color);
}
.home-image img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
    display: inline-flex ;
    font-size: 3rem;
    align-items: center;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--worn-beige);
    border-radius: 50%;
    color: var(--old-paper);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    background: var(--ink-deep);
    color: var(--old-paper);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 15px var(--ink-deep),
                0 0 30px var(--ink-deep),
                0 0 60px var(--ink-deep) ;
}
.btn-group{
    display: flex;
    gap:2rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--ink-aged);
    box-shadow:0 0 10px var(--ink-aged);
    border-radius: 3rem;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--ink-deep);
    opacity: 70%;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    box-shadow: 0 0 8px var(--ink-aged),
                0 0 9px var(--ink-aged),
                0 0 10px var(--ink-aged);
    transform:scale(1.05)translateY(-2px);
}